.content {
    font-family: 'Courier New', Courier, monospace;
    color: #ddd; /* Light gray text color */
  }
  
.content h2 {
    color: #ffc107; /* Yellow heading color */  
}

.highlight {
    background-color: #ffffcc; /* Yellow background color */
    padding: 5px;
    border-radius: 3px;
}

.infoSection-RImage{
    display: flex;
}

.imgContainer{
    margin: 2em;
    aspect-ratio: 1/1;
    /* width: 10em; */
    height: 15em;
    object-fit: contain;
}

.imgContainer img{
    height: 100%;
    width: 100%;
}

.navigationBtns{
    margin-top: 1em;
    font-size: large;
    display: flex;
    width: 100%;
    /* background-color: #ffc107; */
    justify-content: space-between;
}

.sidenote {
    background-color: #444444; /* Light blue background color */
    border-left: 4px solid #ffc107; /* Left border color */
    padding: 10px;
    margin-bottom: 15px; /* Bottom margin for separation */
}
.sidenote p {
    margin: 0; /* Remove default paragraph margin */
}

.sidenote .underline {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #5f5f5f;
    font-weight: bold;

}

.settingsForEach {
    border-bottom: .5px solid #5f5f5f;
    padding-bottom: 2em;
    padding-top: 1em;
}

.settingsForEach:last-child{
    border: none;
}

.ruleDefiner{
    display: flex;
    gap: 5px;
    align-items: end;
}

.ruleDefiner button{
    padding: 5px;
    margin-left: 5px;
}

.rulesContainer{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-bottom: 1em;
}

.headerTitle{
    display: flex;
    flex-direction: column;
}

.blockText{
    justify-content: space-between;
    display: flex;
    gap: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: #5f5f5f;
    font-weight: bold;
    margin: 3px 0;
}

.editBtn{
    background-color: #ffc107;
    color: #444444;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
    width: 3em;
    text-align: center;
    margin-left: 5px;
}

.delBtn{
    background-color: #d65d42;
    color: #ddd;
}
.applyBtnContainer{
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
    padding: 1em;
    justify-content: center;
}

.applyBtn{
    color: lightgreen;
    padding: .5em 1em;
}

.counter{
    display: flex;
    flex-direction: column;
    padding: 2px;
    justify-content: center;
}


.counter input{
    width: 35px;
}

.counter label{
    text-align: center;
}

