
.player-screen{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    /* gap: 1px; */
    background-color: rgb(31, 31, 31);
    /* border-radius: 20px; */
    margin: auto;
}

.player-screen-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* background-color: grey; */
}


.playerBox{
    /* background-color: black; */
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    /* padding: 2em; */
    /* border-radius: 20px; */
}

.cell {
    aspect-ratio: 1;
    /* width: 30px; */
    border: solid rgb(101, 101, 101) .1px;
    cursor: pointer;
    font-size: x-small;
}

.cell.alive{
    background-color: rgb(194, 194, 194);
}


.dimensions-container{
    margin-left: 1em;
}

.controlPanel{
    display: flex;
    background-color: rgba(0, 0, 0, 0.608);
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100vw;
}

.basicControlsBox{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  /* gap: 10px; */
  /* align-items: center; */
  justify-items: stretch;
  padding: 20px;
  
}       


.basicControlsBox > .cntrlEleWrapper{
    border-left: 1px solid rgb(63, 63, 63);
}
.basicControlsBox > .cntrlEleWrapper:first-child{
    border-left: none;
}



.cntrlEleWrapper{
    display: flex;
    justify-content: center;
    width: 100% ;
}

.cntrlElement{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

button{
    cursor: pointer;
}

.btnsContainer{
    padding: 5px 0;
    display: flex;
    justify-content: stretch;
    gap: 5px; 
}

.btnsContainer button{
    flex: 1;
}
.logo-container{
    position: absolute  ;
    font-family:monospace;
    font-weight: bolder;
    padding-left: 2em;
    z-index: 9999;
}

.simBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-column: 5 / 5;
    grid-row: 1 / -1;
}

textarea{
    resize: none;
}